@import '../../assets/styles/colors.scss';

.navbar {
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 90px;
        font-weight: bold;
    }

    &__menus {
        list-style: none;
        display: flex;

        &-item {
            display: flex;
            flex-direction: column;
            cursor: pointer;
            position: relative;
            text-align: center;
            margin-right: 24px;
            padding: 20px 0;

            &:hover {
                transition: filter 0.4s ease-in-out;
                filter: opacity(0.6);
            }
        }

        &-item.active {
            color: $black;
            border-bottom: 4px solid $black;
        }
    }

    &__auth {
        cursor: pointer;
        padding: 20px 0;

        &:hover {
            transition: filter 0.4s ease-in-out;
            filter: opacity(0.6);
        }
    }
}