$primary-color: #dfdbdb;
$accent-color: #B9AFAF;

$dark-gray: #5F5F5F;
$white: #fff;
$black: #000;

$danger-dark: #721c24;
$danger-normal: #f5c6cb;
$danger-light: #f8d7da;

$success-dark: #155724;
$success-normal: #c3e6cb;
$success-light: #d4edda;


$warn-dark: #856404;
$warn-normal: #ffeeba;
$warn-light: #fff3cd;
