@import './colors.scss';

*, *::before, *::after {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    color: $dark-gray;
    background-color: $primary-color;
    font-family: 'OpenSans';
}

ul,li {
    padding: 0;
    margin: 0;
}
